@charset "utf-8";

/* 헤더 시작 */
#header {
    height: 42px;
    background: linear-gradient(#8e0000, #700000);
    border-bottom: 1px solid black;
}

#header h1 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    line-height: 42px;
}

#header a {
    position: absolute;
    top: 0;
    background: url(../image/sprites.png) no-repeat;
    width: 62px;
    height: 32px;
    top: 4px;
    font-size: 0.1px;
    overflow: hidden;
    text-indent: 100%;
}

#header #btn {
    left: 0;
    left: 4px;
}

#header #toggleBtn {
    right: 0;
    background-position: right;
    width: 32px;
    height: 32px;
    right: 4px;
}

/*  토글네비 toggleNav */
#toggleNav {
    background-color: #5f5f5f;
    padding: 20px;
    border-bottom: 2px solid black;
}

#toggleNav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    /* overflow: hidden; */
}

#toggleNav ul li {
    width: 80px;
    height: 28px;
    /* float: left; */
    color: #333;
    padding-left: 18px;
    background-color: #fff;
}

/* topNav */
#topNav {
    height: 35px;
    background-color: #8e0000;
    border-bottom: 2px solid black;
}

#topNav ul {
    display: flex;
}

#topNav ul li {
    width: 25%;
}

#topNav ul li a {
    color: white;
    display: block;
    text-align: center;
    line-height: 35px;
}

#topNav ul li a:hover {
    background-color: aliceblue;
    color: black;
    width: 100%;
}

/* bottomNav */

#bottomNav {
    height: 35px;
}

#bottomNav ul {
    border-bottom: 2px solid black;
    display: flex;
}

#bottomNav ul li {
    width: 25%;
}

#bottomNav ul li a {
    display: block;
    text-align: center;
    line-height: 35px;
    position: relative;
}

#bottomNav ul li a:hover {
    background-color: #8e0000;
    color: white;
}

#bottomNav ul li a::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -1px;
    height: 15px;
    border-right: 1px solid black;
}
/* 헤더 끝 */

/* section */
#mainSection {
    padding-top: 5%;
    border-bottom: 3px solid black;
}
#inner_main{
    padding-left: 3%;
}
#content{
    padding-top: 10%;
    padding-left: 5%;
}
#content p{
    padding-bottom: 5%;
}
#content p:last-child{
    padding-bottom: 30px;
}
/* section끝 */
/* footer */
#footer{
    text-align: center;
    padding-top: 25px;
}
#footer address{
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}
#footer small{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}